<div class="row">
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Active Bowsers</h5>
            <span class="h2 font-weight-bold mb-0">{{ this.activeBowsers }} of {{ this.totalBowsers }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Open Tickets</h5>
            <span class="h2 font-weight-bold mb-0">{{ this.activeTickets }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
              <i class="fas fa-ticket"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Pending Tickets</h5>
            <span class="h2 font-weight-bold mb-0">{{ this.pendingTickets }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
              <i class="fas fa-question-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Bowsers in maintenance</h5>
            <span class="h2 font-weight-bold mb-0">{{ this.bowsersDown }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-info text-white rounded-circle shadow">
              <i class="fas fa-wrench"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
