<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Active Bowsers</h5>
                  <span class="h2 font-weight-bold mb-0">54 of 62</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Open Tickets</h5>
                  <span class="h2 font-weight-bold mb-0">4</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pending Tickets</h5>
                  <span class="h2 font-weight-bold mb-0">12</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Number of Staff Accounts</h5>
                  <span class="h2 font-weight-bold mb-0">9</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- Page content --->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div> <!--*ngIf="apiLoaded | async"-->
          <google-map width="100%" 
                      height="800px"
                      [options]="options"
                      [center]="center">
            <map-marker *ngFor="let bowserPosition of bowsersPositions"
                      [position]="bowserPosition"
                      [options]="bowserMarkerOptions">
            </map-marker>
            <map-marker *ngFor="let userLocation of userLocation"
                      [position]="userLocation"
                      [options]="userMarkerOptions">
            </map-marker>
            <map-marker *ngFor="let issueBowser of bowserSpannerPositions"
                      [position]="issueBowser"
                      [options]="bowserSpannerMarkerOptions">
            </map-marker>
            <map-marker *ngFor="let offlineBowser of bowserOfflinePositions"
                      [position]="offlineBowser"
                      [options]="bowserOfflineMarkerOptions">
            </map-marker>
          </google-map>
        </div>
      </div>
    </div>
  </div>
</div>