<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ currentYear | date: "yyyy" }} <a href="https://www.linkedin.com/in/dylanwarrell/" class="font-weight-bold ml-1" target="_blank">Tapp</a>&nbsp;and<a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.dylanwarrell.com" class="nav-link" target="_blank">Main Site</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Version {{currentApplicationVersion}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
