<div class="alert alert-danger server-offline-modal" role="alert">
  <h4 class="alert-heading">Server Offline!</h4>
  <p>The server is currently offline or still spinning up. The page will refresh when a connection is established.</p>
  <p class="mb-0">If the issue persists, contact support.</p>
  <div style="display: flex; justify-content: space-between">
    <a class="btn btn-primary mt-3" href="https://status.dylanwarrell.com/" target="_blank"> Check System Status </a>
    <div class="custom-spinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
