<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <app-header-info-cards></app-header-info-cards>
    </div>
  </div>
</div>
<!--- Page content --->
<div class="container-fluid mt--7">
  
  <!--<div style="margin-bottom: '1em';" class="card card-stats">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase text-muted mb-0">Map Key</h5>
          <span class="h2 font-weight-bold mb-0">
            <img width="30px" style="margin-right: '0.2em';" id="bowserMarker" src="https://maps.google.com/mapfiles/kml/shapes/water.png">
            <label style="margin-right: '1em';" for="bowserMarker">Water Bowsers</label>
            <img width="30px" style="margin-right: '0.2em';" id="IssueMarker" src="https://maps.google.com/mapfiles/kml/shapes/mechanic.png">
            <label style="margin-right: '1em';" for="IssueMarker">Under Maintenance</label>
            <img width="30px" style="margin-right: '0.2em';" id="OfflineMarker" src="https://maps.google.com/mapfiles/kml/shapes/caution.png">
            <label style="margin-right: '1em';" for="OfflineMarker">Bowser Unavailable</label>
            <img width="30px" style="margin-right: '0.2em';" id="OfficeMarker" src="https://maps.google.com/mapfiles/kml/shapes/homegardenbusiness.png">
            <label for="OfficeMarker">Your Location</label>
          </span>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div> <!--*ngIf="apiLoaded | async"-->
          <google-map width="100%" 
                      height="800px"
                      [options]="options"
                      [center]="center">
            <map-marker *ngFor="let bowserPosition of bowsersPositions"
                      [position]="bowserPosition"
                      [options]="bowserMarkerOptions">
            </map-marker>
            <map-marker *ngFor="let userLocation of userLocation"
                      [position]="userLocation"
                      [options]="userMarkerOptions">
            </map-marker>
            <map-marker *ngFor="let issueBowser of bowserSpannerPositions"
                      [position]="issueBowser"
                      [options]="bowserSpannerMarkerOptions">
            </map-marker>
            <map-marker *ngFor="let offlineBowser of bowserOfflinePositions"
                      [position]="offlineBowser"
                      [options]="bowserOfflineMarkerOptions">
            </map-marker>
          </google-map>
        </div>
      </div>
    </div>
  </div>
</div>